# Python virtual environment
venv/
env/
ENV/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Environment variables & editor files
.env
.vscode/
.idea/
.DS_Store
*.backup
tmp*
*-shm
*-wal
