# Python virtual environment
venv/
env/
ENV/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
db.sqlite3
*.sqlite3

# Environment variables & editor files
.env
.vscode/
.idea/
.DS_Store
*.backup
